.svg-cart-dims {
	width: 26px;
	height: 22px;
}

.svg-down_arr-dims {
	width: 16px;
	height: 9px;
}

.svg-logo-dims {
	width: 103px;
	height: 89px;
}

.svg-mail-dims {
	width: 15px;
	height: 13px;
}

.svg-phone-dims {
	width: 9px;
	height: 15px;
}

