body {
    background: #EBEDEE;
    font-family: 'Oswald';
}

* {
    box-sizing: border-box;
}

img,
svg {
    width: 100%;
    vertical-align: top;
}

.pg-wrapper {
    overflow-x: hidden;
}

@media (max-width: $resp768) {
    body {
        &.is--menu-open {
            overflow: hidden;
        }
    }
}