body {
    background: #fff;
    font-family: 'Oswald';
    &.__nscroll {
        // overflow: hidden;
        background: #EBEDEE;
    }
    &.mobile_menu_open {
        overflow: hidden;
    }
}

* {
    box-sizing: border-box;
}

img,
svg {
    width: 100%;
    vertical-align: top;
}

.pg-wrapper {
    overflow-x: hidden;
}

a {
    color: $secondary-color;
    text-decoration: none;
    transition: .25s all ease;
    &:hover {
        color: darken($secondary-color, 10%);
    }
}

.__nw {
    white-space: nowrap !important;
}

.scrollable {
    min-height: 100vh;
}

.iScrollIndicator {
    background: rgba(12, 73, 140, 0.78) !important;
}

.__tab-trigger {
    cursor: pointer;
}

.__tab-container {
    display: none;
}

@media (max-width: $resp768) {
    body {
        // padding-top: 80px !important;
        &.is--menu-open {
            overflow: hidden;
        }
    }
    .slide {
        align-items: center;
    }
}