.in {
    &-slide1 {
        display: flex;
        &.is--id {
            &1 {
                background-image: url(../../img/in-slide1-bg.jpg);
            }
            &2 {
                background-image: url(../../img/products-slide1-bg.jpg);
            }
            &3 {
                background-image: url(../../img/objects-slide1-bg.jpg);
            }
            &4 {
                background-image: url(../../img/production-slide1-bg.jpg);
            }
        }
        &::before {
            background: #1F5087;
            width: 100%;
            max-width: 360px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            mix-blend-mode: multiply;
            z-index: 0;
        }
        &::after {
            background: #1F5087;
            width: 100%;
            max-width: 500px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            content: '';
            mix-blend-mode: multiply;
            z-index: 0;
        }
        &__inner {
            @extend .container;
            padding-top: 300px;
            position: relative;
            z-index: 15;
            min-height: 100%;
            z-index: 100;
        }
        &__title {
            color: #fff;
            max-width: 1250px;
            width: 100%;
            line-height: 100px;
            font-size: 75px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 35px;
        }
        &__desc {
            line-height: 22px;
            font-size: 18px;
            color: #fff;
            font-weight: normal;
            font-family: 'Open Sans';
            max-width: 800px;
            margin-bottom: 75px;
            &.is--id1 {
                text-transform: uppercase;
                max-width: 100%;
                font-size: 24px;
                
            }
        }
        &__down {
            position: absolute;
            left: 0;
            bottom: 90px;
            z-index: 100;
            display: flex;
            @extend .container;
            right: 0;
            z-index: 1000;
        }
        &__nums {
            position: absolute;
            right: 50px;
            bottom: 80px;
            z-index: 1000;
            display: inline-block;
            @extend .container;
            justify-content: flex-end;
            width: 100px;
        }
        &__breadcrumbs {
            margin-top: -60px;
            margin-bottom: 90px;
        }
        &__stat {
            display: flex;
            flex-wrap: wrap;
            &__block {
                max-width: 230px;
                width: 100%;
                margin-right: 120px;
                &__num {
                    color: $secondary-color;
                    text-transform: uppercase;
                    font-size: 36px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                &__text {
                    line-height: 24px;
                    color: #fff;
                    font-size: 18px;
                    font-weight: normal;
            font-family: 'Open Sans';
                }
            }
        }
    }
    &-slide2 {
        background-image: url(../../img/in-slide2-bg.jpg);
        &__inner {
            @extend .container;
            padding-top: 200px;
            padding-bottom: 50px;
        }
        &__blocks {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            justify-content: center;
        }
        &__block {
            width: 30%;
            padding: 0 15px;
            &__inner {
                max-width: 410px;
                width: 100%;
                color: #fff;
            }
            &.is--top {
                margin-bottom: 180px;
            }
            &.is--bold {
                .in-slide2__block {
                    &__title {
                        font-weight: bold;
                    }
                    &__desc {
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 26px;
                    }
                }
            }
            &__title {
                line-height: 47px;
                font-size: 36px;
                margin-bottom: 30px;
            }
            &__desc {
                font-weight: normal;
                font-family: 'Open Sans';
                line-height: 22px;
                font-size: 16px;
            }
            &__link {
                padding-top: 40px;
                a {
                    color: #EA8B00;
                    font-weight: normal;
                    font-family: 'Open Sans';
                    font-size: 18px;
                    display: inline-block;
                    position: relative;
                    padding-right: 10px;
                    overflow: hidden;
                    &::after {
                        content: url(../../img/svg/link_arr.svg);
                        position: absolute;
                        right: 0;
                        top: 0;
                        opacity: 0;
                        transition: .25s all ease;
                    }
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &-slide3 {
        height: 100%;
        &::after {
            max-width: 360px;
            width: 100%;
            height: 95vh;
            content: '';
            display: block;
            background: url(../../img/slide3_bg_right.jpg);
            position: absolute;
            right: 0;
            top: 0;
        }
        &::before {
            max-width: 175px;
            width: 100%;
            height: 95vh;
            content: '';
            display: block;
            position: absolute;
            right: 360px;
            z-index: -1;
            top: 0;
            background: #fff;
        }
        &__down {
            position: absolute;
            display: flex;
            width: 175px;
            right: 360px;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 100px;
            z-index: 100;
            bottom: 30px;
            a {
                position: relative;
            }
        }
        &__nums {
            position: absolute;
            z-index: 100;
            right: 40px;
            bottom: 100px;
        }
        &__inner {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            z-index: 10;
            &::before {
                content: '';
                max-width: 700px;
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                background: #fff;
                z-index: -3;
            }
            &__wrap {
                padding-top: 200px;
                display: flex;
                padding-right: 380px;
                align-items: center;
                position: relative;
                z-index: 100;
            }
            &__photo {
                max-width: 895px;
                width: 100%;
                margin-right: 80px;
                overflow: hidden;
                img {
                    transform: scale(1.2);
                }
            }
            &__text {
                width: 485px;
                min-width: 485px;
            }
            &__title {
                line-height: 47px;
                font-size: 36px;
                letter-spacing: 0.02em;
                color: #000;
                margin-bottom: 40px;
            }
            &__desc {
                margin-bottom: 80px;
                p {
                    line-height: 19px;
                    font-size: 16px;
                    color: #282828;
                    font-family: 'Open Sans';
                    margin: 0;
                }
            }
        }
    }
    &-slide4 {
        display: flex;
        flex-wrap: wrap;
        &::after {
            background: #1F5087;
            width: 100%;
            max-width: 360px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            content: '';
            mix-blend-mode: multiply;
            z-index: 10;
        }
        &__bg1 {
            margin-left: auto;
            height: 100vh;
            background: url(../../img/slide4_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: calc(100% -  360px);
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 135px;
                height: 630px;
                background: url(../../img/slide4_bg_left.jpg);
                background-size: cover;
                left: -134px;
                top: 50%;
                transform: translateY(-35%);
            }
        }
        &__inner {
            max-width: 540px;
            padding: 0 15px;
            width: 100%;
            margin: 0 auto;
            padding-top: 250px;
            transform: translateX(-25%);
            position: relative;
            z-index: 100;
        }
        &__title {
            line-height: 47px;
            font-size: 36px;
            letter-spacing: 0.02em;
            color: #fff;
            margin-bottom: 30px;
        }
        &__text {
            margin-bottom: 60px;
            p {
                line-height: 19px;
                font-size: 16px;
                font-family: 'Open Sans';
                color: #fff;
                font-weight: 300;
            }
        }
        &__down {
            position: absolute;
            display: flex;
            left: 100px;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 100px;
            z-index: 100;
            bottom: 0px;
        }
        &__nums {
            position: absolute;
            z-index: 100;
            right: 70px;
            bottom: 100px;
        }
    }
    &-slide5 {
        display: flex;
        flex-wrap: wrap;
        &::after {
            background: #1F5087;
            width: 100%;
            max-width: 360px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            content: '';
            mix-blend-mode: multiply;
            z-index: 10;
        }
        &__bg1 {
            margin-left: auto;
            width: calc(100% - 360px);
            height: 100vh;
            background: url(../../img/slide5_bg_center.jpg);
            position: relative;
            background-size: cover;
            &::after {
                width: calc(100% - 360px);
                height: 100%;
                background: rgba(#000, .6);
                position: absolute;
                right: 360px;
                top: 0;
                content: '';
            }
        }
        &__bg2 {
            max-width: 360px;
            width: 100%;
            height: calc(100% - 150px);
            left: 0;
            top: 150px;
            position: absolute;
            background: url(../../img/slide5_bg_left.jpg);
            background-size: cover;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
                background: #1F5087;
                mix-blend-mode: multiply;
                z-index: 10;
            }
        }
        &__wrap {
            padding: 250px 15px 0 15px;
            max-width: 540px;
            margin: 0 auto;
            transform: translateX(-25%);
            z-index: 100;
            position: relative;
        }
        &__nums {
            position: absolute;
            z-index: 100;
            left: 100px;
            bottom: 100px;
        }
        &__down {
            position: absolute;
            display: flex;
            right: 100px;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 100px;
            z-index: 100;
            bottom: 0px;
        }
    }
    &-slide6 {
        display: flex;
        flex-wrap: wrap;
        &__inner {
            position: relative;
            width: 100%;
            &::before {
                content: '';
                position: absolute;
                width: 360px;
                height: 95%;
                background: url(../../img/slide6_bg_right.jpg);
                top: 0;
                right: 0;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &::after {
                content: '';
                position: absolute;
                width: 360px;
                height: 95%;
                mix-blend-mode: multiply;
                background: #1F5087;
                top: 0;
                right: 0;
            }
        }
        &__wrap {
            box-sizing: content-box;
            max-width: 895px;
            width: 45%;
            margin: 0 360px 0 0;
            margin-left: auto;
            height: 100vh;
            background: url(../../img/slide6_bg_center.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(#000, .6);
                top: 0;
                left: 0;
            }
        }
        &__block {
            width: 100%;
            padding: 300px 0 0 130px;
            position: absolute;
            z-index: 10;
            &__title {
                color: #000;
                line-height: 40px;
                font-size: 36px;
                letter-spacing: 0.02em;
                margin-bottom: 30px;
                max-width: 500px;
            }
            &__text {
                margin-bottom: 50px;
                max-width: 470px;
                p {
                    font-family: 'Open Sans';
                    line-height: 22px;
                    font-size: 16px;
                }
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 120%;
                background: #fff;
                width: 360px;
                z-index: -1;
            }
        }
        &__down {
            position: absolute;
            display: flex;
            left: 100px;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 100px;
            z-index: 100;
            bottom: 0px;
        }
        &__nums {
            position: absolute;
            z-index: 100;
            right: 70px;
            bottom: 100px;
        }
    }
}

.down-link {
    &__inner {
        transform: rotate(-90deg);
        a {
            color: #fff;
            text-decoration: none;
            line-height: 36px;
            font-size: 18px;
            letter-spacing: 0.11em;
            text-transform: uppercase;
            position: relative;
            display: block;
            cursor: pointer;
            &.is--black {
                color: #000;
                &::before {
                    content: url(../../img/svg/down_arr_black.svg);
                }
            }
            &::before {
                content: url(../../img/svg/down_arr.svg);
                position: absolute;
                fill: #fff;
                color: #fff;
                z-index: 99999999999;
                display: block;
                transform: rotate(90deg);
                left: -20px;
            }
        }
    }
}

.snums {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        color: rgba(#fff, .5);
        &:first-child {
            a {
                color: #fff;
            }
        }
        a {
            color: rgba(#fff, .5);
            text-decoration: none;
            transition: .25s all ease;
            &:hover {
                color: #fff;
            }
        }
    }
    &.is--ver {
        li {
            margin-bottom: 10px;
            font-size: 30px;
            display:block;
            &:first-child {
                position: relative;
                margin-bottom: 200px;
                &::after {
                    width: 1px;
                    height: 180px;
                    top: 20px;
                    left: 50%;
                    background: #fff;
                    content: '';
                    position: absolute;
                }
            }
            a {
                -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.93969262, M12=0.34202014, M21=-0.34202014, M22=0.93969262,sizingMethod='auto expand')"; /* IE6-8 */
                -ms-transform: rotate(90deg); /* IE9+ */
                -moz-transform: rotate(90deg);  /* Firefox */
                -o-transform: rotate(90deg);  /* Opera */
                -webkit-transform: rotate(90deg);  /* Safari & Chrome */
                transform: rotate(90deg);
                position: relative;
                display: block;
            }
        }
    }
    &.is--hor {
        display: flex;
        li {
            margin-right: 20px;
            font-size: 18px;
            &:first-child {
                padding-right: 100px;
                &::after {
                    width: 45%;
                    height: 1px;
                    top: 50%;
                    left: 30px;
                    background: #fff;
                    content: '';
                    position: absolute;
                }
            }
        }
    }
}

.anchor-target {
    cursor: pointer;
}

@media (max-width: 1600px) {
    .in {
        &-slide6 {
            &__wrap {
                width: 30%;
            }
        }
    }
}

@media (max-width: 1500px) {
    .in {
        &-slide1 {
            &__down,
            &__nums {
                display: none;
            }
            &__stat {
                &__block {
                    margin-right: 15px;
                    margin-bottom: 30px;
                    max-width: calc(50% - 30px);
                }
            }
        }
        &-slide3 {
            &__inner {
                padding-bottom: 50px;
                &__wrap {
                    display: block;
                    padding-top: 40px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                &::before {
                    height: 100%;
                    max-width: 400px;
                }
                &__photo {
                    margin-bottom: 30px;
                }
                &__text {
                    width: 100%;
                    min-width: 0;
                }
            }
            &::before,
            &::after {
                display: none;
            }
            &::after {
                max-width: 200px;
            }
            &__down,
            &::before,
            &__nums {
                display: none;
            }
        }
    }
}

@media (max-width: $resp1400) {
    .in {
        &-slide1 {
            &__title {
                font-size: 50px;
                line-height: 56px;
                max-width: 900px;
                padding-right: 50px;
            }
            &__desc {
                max-width: 900px;
                margin-bottom: 30px;
                padding-right: 50px;
            }
            &__nums,
            &__down {
                display: none;
            }
        }
        &-slide4 {
            &__bg1 {
                width: 100%;

                &::before {
                    content: none;
                }
            }
            &__inner {
                transform: none;
            }
            &__nums,
            &__down {
                display: none;
            }
        }
        &-slide6 {
            &__nums,
            &__down {
                display: none;
            }
        }
    }
}

@media (max-width: 1300px) {
    .in {
        &-slide5 {
            &__nums,
            &__down {
                display: none;
            }
        }
        &-slide6 {
            &__inner {
                &::before,
                &::after {
                    content: none;
                }
            }
            &__wrap {
                max-width: 100%;
                width: 100%;
                margin: 0;
            }
            &__block {
                &__title,
                &__text p {
                    color: #fff;
                }
                &::before {
                    content: none;
                }
            }
        }
    }
}

@media (max-width: $resp1025) {
    .in {
        &-slide1 {
            &::before {
                max-width: 260px;
            }
        }
        &-slide2 {
            &__block {
                max-width: 400px;
                width: 100%;
            }
        }
        &-slide5 {
            &__bg1 {
                width: 100%;
                &::after {
                    width: 100%;
                    right: 0;
                }
            }
            &__wrap {
                transform: none;
            }
            &__bg2 {
                display: none;
            }
        }
    }
}

@media (max-width: 850px) {
    .in {
        &-slide2 {
            &__inner {
                padding-top: 0;
            }
            &__blocks {
                max-width: 500px;
                margin: 0 auto;
            }
            &__block {
                width: 100%;
                max-width: 100%;
                margin-bottom: 40px !important;
                &__title {
                    font-size: 28px;
                    line-height: 30px;
                    margin-bottom: 10px;
                }
                &:last-child {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .in {
        &-slide1 {
            min-height: 100vh;
            align-items: center;
            &__inner {
                padding-top: 50px;
            }
            &__title {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 30px;
                padding-right: 0;
            }
            &__desc {
                font-size: 16px !important;
                line-height: 18px;
            }
            &__down,
            &__nums {
                display: none;
            }
            &__breadcrumbs {
                margin-top: 0;
                margin-bottom: 18px;
            }
            &__stat {
                display: block;
                &__block {
                    max-width: 100%;    
                    margin-bottom: 20px;
                    &__num {
                        font-size: 26px;
                        margin-bottom: 0;
                    }
                    &__text {
                        font-size: 14px;
                    }
                }
            }
        }
        &-slide2 {
            &__inner {
                padding-top: 50px;
            }
        }
        &-slide3 {
            padding-top: 0;
            padding-bottom: 0;
            &__inner {
                background: url(../../img/sl3photo.jpg);
                background-size: cover;
                &__title {
                    font-size: 26px;
                    line-height: 30px;
                    margin-bottom: 20px;
                    color: #fff;
                }
                &__wrap {
                    padding-top: 50px;
                }
                &__desc {
                    margin-bottom: 40px;
                    p {
                        color: #fff;
                    }
                }
                &__photo {
                    display: none;
                }
                &::before {
                    content: none;
                }
            }
        }
        &-slide4 {
            padding-top: 0;
            padding-bottom: 0;
            &__bg1 {
                height: auto;
                // min-height: 100vh;
            }
            &__inner {
                padding: 50px 15px;
            }
            &__title {
                font-size: 26px;
                line-height: 28px;
                margin-bottom: 15px;
            }
            &__text {
                margin-bottom: 30px;
                p {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
        &-slide5 {
            padding-top: 0;
            padding-bottom: 0;
            &__bg1 {
                height: auto;
                // min-height: 100vh;
            }
            &__wrap {
                padding: 120px 15px;
            }
        }
        &-slide6 {
            padding-top: 0;
            padding-bottom: 0;
            &__wrap {
                height: auto;
            }
            &__block {
                position: static;
                background: url(../../img/slide6_bg_center.jpg);
                max-width: 100%;
                padding: 50px 15px 50px 15px;
                &::before {
                    content: '';
                    background: rgba(#000, .6);
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
                &__title {
                    font-size: 26px;
                    line-height: 28px;
                    margin-bottom: 15px;
                }
                &__text {
                    margin-bottom: 30px;
                    p {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }
    }
}