.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E7EDF3;

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  z-index: 99999999999999999999999999;
  &.pace-inactive {
    display: none;
  }
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  top: 50%;
  margin-top: -5px;
  right: 100%;
  width: 100%;
  height: 2px;
  background: $primary-color;
  pointer-events: none;
  &::after {
    content: attr(data-progress-text);
    position: absolute;
    top: 50%;
    left: 102%;
    font-size: 34px;
    color: $primary-color;
    margin-top: -20px;
  }
}
