.heading {
    @extend .container;
    &.is--center {
        text-align: center;
    }
    &.is--uppercase {
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    &__title {
        line-height: 47px;
        font-size: 36px;
        letter-spacing: 0.02em;
        color: #000;
        margin-bottom: 25px;
    }
    &__subtitle {
        font-weight: normal;
        font-family: 'Open Sans';
        line-height: 23px;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #484848;
    }
}

.breadcrumbs {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        li {
            line-height: 16px;
            font-size: 13px;
            
            color: #272727;
            font-weight: normal;
            font-family: 'Open Sans';
            a {
                
                color: #909090;
                padding-right: 15px;
                position: relative;
                display: block;
                &::after {
                    content: '>';
                    position: absolute;
                    right: 4px;
                    top: 1px;
                }
            }
        }
    }
    &.is--default {
        margin-bottom: 50px;
    }
    &.is--white {
        ul {
            li {
                color: #F8F8F8;
                a {
                    color: #D0D0D0;
                }
            }
        }
    }
}

.product {
    &__item {
        max-width: 553px;
        width: 100%;
        box-sizing: content-box;
        a {
            background: #EBEDEE;
            display: block;
            padding: 50px 15px 90px 15px;
            text-align: center;
        }
        &__img {
            max-width: 350px;
            width: 100%;
            margin: 0 auto;
            img {
                width: 100%;
                height: auto;
                vertical-align: top;
                transition: .25s all ease;
            }
        }
        &__name {
            line-height: 32px;
            font-size: 24px;
            letter-spacing: 0.02em;
            color: #000;
        }
        &:hover {
            .product {
                &__item {
                    &__img {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}

.products {
    &__desc {
        background-color: #fff;
        position: relative;
        overflow: hidden;
        &__inner {
            @extend .container;
            padding: 140px 15px 200px 15px;
            z-index: 10;
        }
        &__title {
            line-height: 48px;
            font-size: 36px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin-bottom: 30px;
            span {
                position: relative;
                z-index: 10;
            }
            &::before {
                content: '';
                width: 355px;
                height: 350px;
                background: #EBEDEE;
                position: absolute;
                top: 0;
                left: 150px;
            }

        }
        &__text {
            max-width: 875px;
            &::before {
                content: '';
                height: 210px;
                background: #EBEDEE;
                width: 100%;
                position: absolute;
                left: 150px;
                bottom: 22%;
            }
            &::after {
                content: url(../../img/products-desc-bg.png);
                position: absolute;
                right: -200px;
                top: 0;
            }
            p {
                font-weight: normal;
                font-family: 'Open Sans';
                line-height: 19px;
                font-size: 16px;
                color: #282828;
                margin: 0;
                position: relative;
                z-index: 10;
            }
        }
    }
    &__table {
        &__inner {
            @extend .container;
        }
        &__wrap {
            display: flex;
        }
        &__aside {
            max-width: 365px;
            width: 100%;
            margin-right: 70px;
            &__inner {
                background: #F5F6F7;
                padding: 30px 50px;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        a {
                            line-height: 39px;
                            font-size: 16px;
                            font-weight: normal;
                            font-family: 'Open Sans';
                            color: #000;
                            cursor: pointer;
                            display: flex;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
        &__table {
            width: 100%;
            margin-bottom: 150px;
        }
        &__categm {
            display: none;
            position: relative;
            select {
                border: none;
                padding: 30px;
                background: #F5F6F7;
                display: block;
                width: 100%;
                box-sizing: border-box;
                outline: none;
                font-weight: normal;
                font-family: 'Open Sans';
                color: #000;
                margin-bottom: 20px;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: '';
            }
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 10px solid #000;
                top: 50%;
                opacity: .5;
                right: 20px;
            }
        }
    }
    &__slider {
        padding: 0 80px;
        &__inner {
            @extend .container;
            position: relative;
        }
        &__items {
            margin: 0 -15px;
        }
        &__item {
            padding: 0 15px;
        }
        &__arrow {
            position: absolute;
            top: 50%;
            z-index: 100;
            margin-top: -10px;
            button {
                border: none;
                background: transparent;
                cursor: pointer;
                outline: none;
            }
            &.is--left {
                left: -40px;
            }
            &.is--right {
                right: -40px;
                button {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.wrapper {
    padding-top: 200px;
    &__inner {
        @extend .container;
    }
    .heading {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.news {
    &__slider {
        &__inner {
            display: flex;
            flex-wrap: wrap;
        }
        &__left,
        &__right {
            width: 50%;
        }
        &__right {
            border: 1px solid #EBEDEE;
        }
        &__date {
            display: flex;
            align-items: center;
            padding: 0 50px;
            height: 80px;
            border-bottom: 1px solid #EBEDEE;
        }
    }
}

@media (max-width: 1500px) {
    .products {
        &__table {
            &__table {
                table {
                    thead {
                        tr {
                            th {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            &__aside {
                max-width: 250px;
                margin-right: 30px;
                &__inner {
                    padding: 15px;
                    ul {
                        li {
                            a {
                                font-size: 14px;
                                line-height: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $resp1400) {
    .products {
        &__desc {
            &__text {
                &::after {
                    right: -250px;
                    top: 150px;
                    transform: scale(.5);
                }
            }
        }
    }
}

@media (max-width: $resp1200) {
    .products {
        &__table {
            &__aside {
                display: none;
            }
            &__categm {
                display: block;
            }
        }
    }
    .product {
        &__item {
            a {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            &__img {
                max-width: 200px;
            }
            &__name {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: $resp768) {
    .heading {
        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 15px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 18px;
        }
    }
    .products {
        &__desc {
            &__title {
                font-size: 22px;
                line-height: 28px;
                margin-bottom: 15px;
                &::before {
                    content: none;
                }
            }
            &__text {
                p {
                    line-height: 18px;
                    font-size: 14px;
                }
                &::after {
                    content: none;
                }
                &::before {
                    left: 30px;
                }
            }
            &__inner {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        &__table {
            &__table {
                margin-bottom: 40px;
            }
        }
        &__slider {
            padding: 0;
            &__arrow {
                display: none;
            }
        }
    }
    .product {
        &__item {
            max-width: 100%;
            a {
                padding-bottom: 60px 0;
            }
            &__name {
                font-size: 16px;
            }
        }
    }
}