.heading {
    @extend .container;
    &.is--center {
        text-align: center;
    }
    &.is--uppercase {
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    &__title {
        line-height: 47px;
        font-size: 36px;
        letter-spacing: 0.02em;
        color: #000;
        margin-bottom: 25px;
    }
    &__subtitle {
        font-weight: normal;
        font-family: 'Open Sans';
        line-height: 23px;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #484848;
    }
    &.is--subsm {
        .heading {
            &__subtitle {
                text-align: left;
                line-height: 22px;
                font-size: 18px;
                text-transform: none;
                color: #000;
            }
        }
    }
}

.breadcrumbs {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        li {
            line-height: 16px;
            font-size: 13px;
            
            color: #272727;
            font-weight: normal;
            font-family: 'Open Sans';
            a {
                
                color: #909090;
                padding-right: 15px;
                position: relative;
                display: block;
                &::after {
                    content: '>';
                    position: absolute;
                    right: 4px;
                    top: 1px;
                }
            }
        }
    }
    &.is--default {
        margin-bottom: 50px;
    }
    &.is--white {
        ul {
            li {
                color: #F8F8F8;
                a {
                    color: #D0D0D0;
                }
            }
        }
    }
    &.is--dark {
        ul {
            li {
                color: #000;
                a {
                    color: #000;
                }
            }
        }
    }
}

.product {
    &__item {
        max-width: 553px;
        width: 100%;
        box-sizing: content-box;
        a {
            background: #EBEDEE;
            display: block;
            padding: 50px 15px 90px 15px;
            text-align: center;
        }
        &__img {
            max-width: 350px;
            width: 100%;
            margin: 0 auto;
            img {
                width: 100%;
                height: auto;
                vertical-align: top;
                transition: .25s all ease;
            }
        }
        &__name {
            line-height: 32px;
            font-size: 24px;
            letter-spacing: 0.02em;
            color: #000;
        }
        &:hover {
            .product {
                &__item {
                    &__img {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}

.products {
    &__desc {
        background-color: #fff;
        position: relative;
        overflow: hidden;
        &__inner {
            @extend .container;
            padding: 140px 15px 200px 15px;
            z-index: 10;
        }
        &__title {
            line-height: 48px;
            font-size: 36px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin-bottom: 30px;
            span {
                position: relative;
                z-index: 10;
            }
            &::before {
                content: '';
                width: 355px;
                height: 350px;
                background: #EBEDEE;
                position: absolute;
                top: 0;
                left: 150px;
            }

        }
        &__text {
            max-width: 875px;
            &::before {
                content: '';
                height: 210px;
                background: #EBEDEE;
                width: 100%;
                position: absolute;
                left: 150px;
                bottom: 22%;
            }
            &::after {
                content: url(../../img/products-desc-bg.png);
                position: absolute;
                right: -200px;
                top: 0;
            }
            p {
                font-weight: normal;
                font-family: 'Open Sans';
                line-height: 19px;
                font-size: 16px;
                color: #282828;
                margin: 0;
                position: relative;
                z-index: 10;
            }
        }
    }
    &__table {
        &__inner {
            @extend .container;
        }
        &__wrap {
            display: flex;
        }
        &__aside {
            max-width: 365px;
            width: 100%;
            &__inner {
                background: #F5F6F7;
                padding: 30px 50px;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        a {
                            line-height: 39px;
                            font-size: 16px;
                            font-weight: normal;
                            font-family: 'Open Sans';
                            color: #000;
                            cursor: pointer;
                            display: flex;
                            white-space: nowrap;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
        &__table {
            width: 100%;
            margin-left: 70px;
            max-width: 1285px;
            margin-bottom: 150px;
        }
        &__categm {
            display: none;
            position: relative;
            select {
                border: none;
                padding: 30px;
                background: #F5F6F7;
                display: block;
                width: 100%;
                box-sizing: border-box;
                outline: none;
                font-weight: normal;
                font-family: 'Open Sans';
                color: #000;
                margin-bottom: 20px;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: '';
            }
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 10px solid #000;
                top: 50%;
                opacity: .5;
                right: 20px;
            }
        }
    }
    &__slider {
        padding: 0 80px;
        &__inner {
            @extend .container;
            position: relative;
        }
        &__items {
            margin: 0 -15px;
        }
        &__item {
            padding: 0 15px;
        }
        &__arrow {
            position: absolute;
            top: 50%;
            z-index: 100;
            margin-top: -10px;
            button {
                border: none;
                background: transparent;
                cursor: pointer;
                outline: none;
            }
            &.is--left {
                left: -40px;
            }
            &.is--right {
                right: -40px;
                button {
                    transform: rotate(180deg);
                }
            }
        }
    }
}   

.wrapper {
    padding-top: 200px;
    overflow: hidden;
    position: relative;
    &__inner {
        @extend .container;
    }
    &-map {
        padding-top: 150px;
    }
    .heading {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.news {
    &__slider {
        margin-bottom: 50px;
        &__inner {
            display: flex;
            flex-wrap: wrap;
        }
        &__left,
        &__right {
            width: 50%;
        }
        &__right {
            border: 1px solid #EBEDEE;
        }
        &__img {
            overflow: hidden;
            position: relative;
            img {
                width: auto;
                height: 100%;
            }
        }
        &__arrows {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            border-bottom: 1px solid #ebedee;
        }
        &__arrow {
            background: #fff;
            width: 75px;
            height: 60px;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            svg {
                fill: #154F8F;
            }
            &.is--right {
                position: relative;
                svg {
                    transform: rotate(180deg);
                }
                &::after {
                    height: 40%;
                    width: 1px;
                    display: block;
                    content: '';
                    left: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    background: #EBEDEE;
                }
            }
        }
        &__date {
            display: flex;
            align-items: center;
            padding: 0 50px;
            height: 80px;
            border-bottom: 1px solid #EBEDEE;
            span {
                &.is--ico {
                    margin-right: 15px;
                    svg {
                        fill: rgba(#000, .5);
                    }
                }
                &.is--text {
                    font-family: 'Open Sans';
                    line-height: 22px;
                    color: #282828;
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }
        &__content {
            padding: 40px 45px;
            &__title {
                line-height: 32px;
                font-size: 24px;
                letter-spacing: 0.02em;
                margin-bottom: 30px;
            }
            p {
                font-family: 'Open Sans';
                font-weight: normal;
                line-height: 19px;
                color: #282828;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    &-item {
        padding: 0 15px;
        width: 33.3333333%;
        &__inner {

        }
        &__date {
            padding: 25px 35px;
            border: 1px solid #ebedee;
            border-bottom: 0;
            &__inner {
                span {
                    &.is--ico {
                        margin-right: 15px;
                        svg {
                            fill: rgba(#000, .5);
                        }
                    }
                    &.is--text {
                        line-height: 19px;
                        font-size: 16px;
                        color: #282828;
                        font-family: 'Open Sans';
                        font-weight: normal;
                    }
                }
            }
        }
        &__img {
            overflow: hidden;
            img {
                transition: .25s all ease;
            }
        }
        &__content {
            padding: 40px 25px 35px 25px;
            border: 1px solid #ebedee;
            border-top: 0;
            min-height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__text {
                p {
                    line-height: 19px;
                    font-size: 16px;
                    color: #282828;
                    margin: 0;
                    font-family: 'Open Sans';
                    font-weight: normal;
                }
            }
            &__link {
                text-align: right;
                a {
                    line-height: 22px;
                    font-size: 18px;
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    color: #000000;
                    transition: .25s all ease;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
        &:hover {
            .news-item {
                &__img {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    &__items {
        margin-bottom: 70px;
        &__inner {
            display: flex;
            margin: 0 -15px 80px -15px;
        }
        &__btn {
            text-align: center;
        }
    }
}

.map {
    min-height: calc(100vh - 150px);
    position: relative;
    height: 100%;
    &__container {
        height: 100%;
        width: 40%;
        position: relative;
        left: 0;
        top: 0;
        background: rgba(#0C498C, .8);
        padding: 60px 20px 60px 100px;
        min-height: calc(100vh - 150px);
        &__bc {
            margin-bottom: 40px;
        }
        .heading {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
            &__title {
                color: #fff;
            }
        }
        &__addrs {
            ul {
                margin: 0 0 25px 0;
                padding: 0 0 0 30px;
                list-style-type: none;
                position: relative;
                li {
                    font-weight: normal;
                    font-family: 'Open Sans';
                    line-height: 22px;
                    font-size: 18px;
                    color: #fff;
                    a {
                        color: #fff;
                    }
                }
                &.is--map {
                    &::before {
                        content: url(../../img/svg/marker_orange.svg);
                        position: absolute;
                        left: 0;
                        top: 8px;
                    }
                }
                &.is--phone {
                    &::before {
                        content: url(../../img/svg/phone_orange.svg);
                        position: absolute;
                        left: 0;
                        top: 5px;
                    }
                }
                &.is--mail {
                    &::before {
                        content: url(../../img/svg/mail_orange.svg);
                        position: absolute;
                        left: 0;
                        top: 5px;
                    }
                }
            }
        }
        &__form {
            max-width: 365px;
            padding-top: 50px;
            .form__group {
                padding-left: 0;
                padding-right: 0;
                max-width: 290px;
                margin-bottom: 20px;
                &.is--submit {
                    padding-top: 20px;
                    text-align: left;
                }
                input {
                    &[type="text"],
                    &[type="email"] {
                        color: #fff;
                        border-bottom-color: #fff;
                        &::placeholder {
                            color: rgba(#fff, .5);
                        }
                        &:focus {
                            border-color: #fff;
                        }
                    }
                }
            }
            &__title {
                line-height: 32px;
                font-size: 22px;
                letter-spacing: 0.02em;
                color: #fff;
                margin-bottom: 10px;
            }
            &__subtitle {
                font-family: 'Open Sans';
                color: #fff;
                line-height: 20px;
                font-size: 14px;
                letter-spacing: 0.02em;
                margin-bottom: 20px;
            }
        }
    }
}

#map {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
}

.objects {
    &__inner {
        ul {
            display: flex;
            flex-wrap: wrap;
            margin: -1px 0 -1px 0;
            padding: 0;
            list-style: none;
            li {
                width: 33.33333333%;
                padding: 1px;
            }
        }
    }
}

.object {
    overflow: hidden;
    a {
        display: block;
        color: #fff;
        position: relative;
        &:hover {
            color: #fff;
        }
    }
    &__img {
        img {
            transition: .25s all ease;
            transform: scale(1.01);
        }
    }
    &__text {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 36, 77, 0.84);
        opacity: 0;
        transition: .45s all ease;
        padding: 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__title {
        margin-bottom: 120px;
        span {
            display: block;
            &.is--text {
                &-sm {
                    font-weight: normal;
                    font-family: 'Open Sans';
                    font-size: 36px;
                }
                &-xl {
                    font-weight: bold;
                    font-size: 74px;
                }
            }
        }
    }
    &__stats {
        &__block {
            width: 100%;
            &__num {
                font-weight: 500;
                line-height: 61px;
                font-size: 36px;
            }
            &__text {
                font-weight: normal;
                font-family: 'Open Sans';
            }
        }
    }
    &:hover {
        .object {
            &__img {
                img {
                    transform: scale(1.05);
                }
            }
            &__text {
                opacity: 1;
            }
        }
    }
}

.history {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    &__inner {
        margin-right: 100px;
    }
    &__list {
        max-width: 950px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
            &::before {
                width: 1px;
                left: 70px;
                top: 0;
                height: 100%;
                background: $primary-color;
                position: absolute;
                content: '';
            }
            li {
                position: relative;
                padding-left: 140px;
                margin-bottom: 70px;
                line-height: 22px;
                font-size: 18px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    margin-top: -12px;
                    left: calc(70px - 12px);
                    width: 25px;
                    height: 25px;
                    background: $primary-color;
                }
            }
        }
    }
    &__row {
        display: flex;
        align-items: center;
    }
    &__num {
        margin-right: 30px;
        color: rgba(#0C498C, .2);
        font-size: 71px;
        letter-spacing: 0.02em;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 95px;
    }
    &__text {
        font-weight: normal;
        font-family: 'Open Sans';
    }
    &__right {
        max-width: 360px;
        margin-right: 100px;
        position: relative;
        &::before {
            width: 360px;
            position: absolute;
            height: 120%;
            background: #EBEDEE;
            content: '';
            top: -10%;
            right: -80%;
            z-index: -1;
        }
    }
}

.production {
    &__item {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &__main {
            display: flex;
            height: 100%;
            width: 100%;
            flex-flow: wrap;
        }
        &__inner {
            display: flex;
            min-height: calc(100vh - 150px);
            height: 1px;
        }
        &__bread {
            max-width: 215px;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            .snums {
                transform: rotate(180deg);
                &.is--ver {
                    li {
                        &:first-child {
                            &::after {
                                top: 40px;
                            }
                        }
                    }
                }
            }
            &.is--white {
                background: #fff;
                .snums {
                    li {
                        a {
                            color: #585757;
                        }
                        &:first-child {
                            a {
                                color: #000;
                            }
                            &::after {
                                background: #000;
                            }
                        }
                    }
                }
            }
            &.is--dark {
                background: rgba(#000000, .65);
            }
            &.is--blue {
                background: rgba(#00244D, .84);
            }
        }
        &__text {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            &.is--white {
                background: #fff;
                .production {
                    &__item {
                        &__text {
                            &__header,
                            &__content p {
                                color: #282828;
                            }
                        }
                    }
                }
            }
            &.is--dark {
                background: rgba(#000000, .65);
                .production {
                    &__item {
                        &__text {
                            &__header,
                            &__content p {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            &.is--blue {
                background: rgba(#00244D, .84);
                .production {
                    &__item {
                        &__text {
                            &__header,
                            &__content p {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            &__header,
            &__content {
                max-width: 480px;
                width: 100%;
            }
            &__header {
                line-height: 47px;
                font-size: 36px;
                letter-spacing: 0.02em;
                margin-bottom: 20px;
            }
            &__content {
                p {
                    line-height: 19px;
                    font-size: 16px;
                    font-weight: normal;
                    font-family: 'Open Sans';
                }
            }
        }
        &__transparent {
            width: 50%;
            height: 100%;
        }
        &.is--ltr {
            .production {
                &__item {
                    &__transparent {
                        order: 1;
                    }
                }
            }
        }
        &.is--id {
            &1 {
                background-image: url(../../img/prod1.jpg);
            }
            &2 {
                background-image: url(../../img/prod2.jpg);
            }
            &3 {
                background-image: url(../../img/prod3.jpg);
            }
            &4 {
                background-image: url(../../img/prod4.jpg);
            }
            &5 {
                background-image: url(../../img/prod5.jpg);
            }
        }
    }
}

.about {
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 140px;
        align-items: center;
        &::before {
            content: '';
            width: 440px;
            height: 400px;
            background: #EBEDEE;
            position: absolute;
            left: 360px;
            top: 0;
            z-index: -5;
        }
        &::after {
            content: '';
            width: calc(100% - 360px);
            height: 300px;
            background: #EBEDEE;
            position: absolute;
            right: 0;
            top: 400px;
            z-index: -5;
        }
        &__text {
            max-width: 700px;
            width: 100%;
            margin-right: auto;
            p {
                font-family: 'Open Sans';
                line-height: 22px;
                font-size: 18px;
            }
        }
        &__img {
            img {
                max-width: 790px;
                margin-top: -100px;
            }
        }
    }
    &__tabs {
        margin-bottom: 30px;
        &__btn {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                border-bottom: 1px solid #CEDBE8;
                li {
                    width: 100%;
                    padding: 40px 85px 30px 85px;
                    text-align: center;
                    margin-bottom: -1px;
                    border-bottom: 2px solid transparent;
                    transition: .25s all ease;
                    &.is--active {
                        background: #CEDBE8;
                        border-color: $primary-color;
                    }
                    &:hover {
                        border-color: $primary-color;
                    }
                }
            }
            &__ico {
                margin-bottom: 20px;
                img {
                    max-height: 120px;
                    height: 100%;
                    width: auto;
                }
            }
            &__title {
                line-height: 32px;
                font-size: 24px;
                letter-spacing: 0.02em;
            }
        }
        &__content {
            ul {
                margin: 0;
                padding: 0px;
                list-style: none;
            }
            &__container {
                padding: 45px;
                display: flex;
                &__text {
                    padding-top: 30px;
                }
            }
            &__ico {
                margin-right: 60px;
                &__block {
                    width: 225px;
                    height: 225px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $primary-color;
                    img {
                        max-width: 120px;
                    }
                }
            }
            &__title {
                line-height: 32px;
                font-size: 24px;
                letter-spacing: 0.02em;
                margin-bottom: 20px;
            }
            &__text {
                max-width: 530px;
                line-height: 19px;
                font-size: 16px;
                font-family: 'Open Sans';
            }
        }
    }
}

.docs {
    &__list {
        margin-bottom: 50px;
        ul {
            margin: 0 -15px;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li {
                padding: 0 15px;
                max-width: 240px;
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}

.catalog {
    margin: 0 -15px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .product__item {
            padding: 0 15px;
            margin-bottom: 30px;
            max-width: 33.333333333%;
            width: 100%;
            box-sizing: border-box;
        }
    }
    &__delivery {
        &__title {
            cursor: pointer;
            background: #EBEDEE;    
            &__inner {
                @extend .container;
                line-height: 48px;
                font-size: 36px;
                letter-spacing: 0.02em;
                color: #000;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 30px;
                padding-bottom: 30px;
                span {
                    display: block;
                    &.is--plus {
                        @extend .svg-b_plus-dims;
                    }
                    &.is--minus {
                        @extend .svg-b_minus-dims;
                        display: none;
                    }
                    svg {
                        fill: $primary-color;
                    }
                }
            }
        }
        &__content {
            &__inner {
                @extend .container;
                padding-top: 20px;
                padding-bottom: 20px;
                p {
                    font-family: 'Open Sans';
                    margin: 0;
                    line-height: 20px;
                    font-size: 15px;
                }
            }
        }
        &.is--open {
            .catalog {
                &__delivery {
                    &__title {
                        &__inner {
                            span {
                                &.is--plus {
                                    display: none;
                                }
                                &.is--minus {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.error {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
    &__inner {
        padding: 0 0 60px 0;
        text-align: center;
    }
    &__title {
        line-height: 64px;
        font-size: 48px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__subtitle {
        line-height: 29px;
        font-size: 24px;
        font-family: 'Open Sans';
        margin-bottom: 50px;
    }
}

.basket {
    &.is--empty {
        display: flex;
        justify-content: space-between;
        .basket {
            &__img {
                margin-top: -200px;
                img {
                    max-width: 790px;
                }
                &::before {
                    max-width: 1380px;
                    width: 100%;
                    content: '';
                    height: 220px;
                    background: #EBEDEE;
                    position: absolute;
                    right: 0;
                    z-index: -10;
                    top: 300px;
                }
                &::after {
                    max-width: 550px;
                    width: 100%;
                    content: '';
                    height: 500px;
                    background: #EBEDEE;
                    position: absolute;
                    right: 230px;
                    z-index: -10;
                    top: 0;
                }
            }
            &__btn {
                padding-top: 20px;
            }
        }
    }
    &.is--table {
        .basket {
            &__title {
                background: #E7EDF3;
                padding: 30px 50px;
                line-height: 55px;
                font-size: 24px;
                color: #282828;
                font-family: 'Open Sans';
                font-weight: bold;
                display: flex;
                align-items: center;
                span {
                    display: block;
                    font-size: 15px;
                    padding: 4px 15px;
                    border-radius: 20px;
                    background: #EA8B00;
                    line-height: 15px;
                    font-weight: 400;
                    margin-left: 20px;
                    margin-top: 5px;
                }
            }
        }
        table {
            font-family: 'Open Sans';
            margin-bottom: 100px;
        }
    }
}

@media (max-width: 1500px) {
    .products {
        &__table {
            &__table {
                table {
                    thead {
                        tr {
                            th {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            &__aside {
                max-width: 250px;
                margin-right: 30px;
                &__inner {
                    padding: 15px;
                    ul {
                        li {
                            a {
                                font-size: 14px;
                                line-height: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
    .about {
        &__tabs {
            &__btn {
                ul {
                    li {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
                &__ico {
                    img {
                        max-height: 60px;
                    }
                }
            }
        }
    }
}

@media (max-width: $resp1400) {
    .products {
        &__desc {
            &__text {
                &::after {
                    right: -250px;
                    top: 150px;
                    transform: scale(.5);
                }
            }
        }
    }
    .news {
        &-item {
            &__date {
                &__inner {
                    span {
                        &.is--text {
                            font-size: 14px;
                        }
                    }
                }
            }
            &__content {
                padding-top: 15px;
                padding-bottom: 15px;
                &__text {
                    p {
                        font-size: 14px;
                    }
                }
                &__link {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .map {
        &__container {
            padding-left: 30px !important;
            padding-right: 30px !important;
            .heading {
                &__title {
                    font-size: 30px;
                }
            }
        }
    }
    .object {
        &__title {
            margin-bottom: 40px;
            span {
                &.is--text-sm {
                    font-size: 20px;
                }
                &.is--text-xl {
                    font-size: 40px;
                }
            }
        }
        &__stats {
            ul {
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                li {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .production {
        &__item {
            &__main {

            }
            &__transparent {
                width: 20%;
            }
            &__text {
                width: 80%;
            }
        }
    }
    .products {
        &__table {
            &__table {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: $resp1200) {
    .products {
        &__table {
            &__aside {
                display: none;
            }
            &__categm {
                display: block;
            }
        }
    }
    .product {
        &__item {
            a {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            &__img {
                max-width: 200px;
            }
            &__name {
                font-size: 14px;
            }
        }
    }
    #map {
        height: 300px;
    }
    .map {
        padding-top: 300px;
        min-height: 0;
        &__container {
            width: 100%;
            background: none;
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            min-height: 0;
            .heading {
                width: 100%;
            }
            &__form {
                max-width: 100%;
                .form__group {
                    max-width: 100%;
                    width: 100%;
                }
            }
            &__form,
            &__addrs {
                width: 50%;
            }
            &__form {
                padding-top: 0;
                input[type="text"],
                input[type="email"] {
                    border-bottom-color: #000 !important;
                    color: #000 !important;
                    &::placeholder {
                        color: #000 !important;
                    }
                }
                input[type="submit"] {
                    color: #fff !important;
                }
            }
        }
        * {
            color: #000 !important;
        }
        .button {
            &:hover {
                color: #000 !important;
            }
        }
    }
    .history {
        &__right {
            display: none;
        }
        &__list {
            ul {
                li {
                    padding-left: 80px;
                    margin-bottom: 0px;
                    &::before {
                        left: calc(28px);
                    }
                }
                &::before {
                    left: 40px;
                }
            }
        }
        &__num {
            font-size: 40px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .basket {
        &__img {
            display: none;
        }
    }
}

@media (max-width: $resp1025) {
    .wrapper {
        // padding-top: 20px;
        &-map {
            padding-top: 70px;
        }
    }
    .breadcrumbs.is--default {
        margin-bottom: 30px;
    }
    .news {
        &__slider {
            &__left,
            &__right {
                width: 100%;
            }
            &__img {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            &__arrow {
                width: 45px;
                height: 45px;
                svg {
                    width: 8px;
                }
            }
            &__date {
                height: auto;
                padding: 15px 10px;
                span {
                    &.is--text {
                        font-size: 14px;
                    }
                }
            }
            &__content {
                padding: 15px 10px;
                &__title {
                    margin-bottom: 15px;
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
        &-item {
            width: 100%;
            margin-bottom: 20px;
            &__date {
                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 10px;
                padding-left: 10px;
            }
            &__content {
                min-height: 0;
                padding-right: 10px;
                padding-left: 10px;
                &__text {
                    margin-bottom: 15px;
                }
            }
        }
        &__items {
            &__inner {
                flex-wrap: wrap;
            }
        }
    }
    .objects {
        &__list {
            &__item {
                width: 50% !important;
            }
        }
    }
    .object {
        &__text {
            opacity: 1;
        }
    }
    .production {
        &__item {
            &__bread {
                display: none;
            }
            &__transparent {
                width: 0;
            }
            &__text {
                width: 100%;
                padding: 15px;
                &__content {
                    p {
                        font-size: 14px;
                    }
                }
                &__header {
                    line-height: 24px;
                    font-size: 20px;
                    margin-bottom: 0;
                }
            }
            &__inner {
                padding: 20px;
                display: flex;
                align-items: center;
                min-height: 0;
                height: 100%;
            }
            &__main {
                height: auto;
            }
        }
    }
    .about {
        &__top {
            &__text {
                max-width: 100%;
            }
            &__img {
                display: none;
            }
        }
    }
}

@media (max-width: $resp768) {
    .heading {
        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 15px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 18px;
        }
        &.is--uppercase {
            margin-bottom: 0;
        }
    }
    .products {
        &__desc {
            &__title {
                font-size: 22px;
                line-height: 28px;
                margin-bottom: 15px;
                &::before {
                    content: none;
                }
            }
            &__text {
                p {
                    line-height: 18px;
                    font-size: 14px;
                }
                &::after {
                    content: none;
                }
                &::before {
                    left: 30px;
                }
            }
            &__inner {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        &__table {
            &__table {
                margin-bottom: 40px;
            }
        }
        &__slider {
            padding: 0;
            &__arrow {
                display: none;
            }
        }
    }
    .product {
        &__item {
            max-width: 100%;
            a {
                padding-bottom: 60px 0;
            }
            &__name {
                font-size: 16px;
            }
        }
    }
    .news {
        &__slider {
            &__content {
                &__title {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 10px;
                }
            }
        }
        &__items {
            margin-bottom: 30px;
            &__inner {
                margin-bottom: 20px;
            }
        }
    }
    .map {
        &__container {
            &__form,
            &__addrs {
                width: 100%;
            }
            &__form {
                padding-top: 50px;
            }
            .heading {
                &__title {
                    font-size: 20px;
                }
            }
            &__addrs {
                ul {
                    margin-bottom: 15px;
                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .objects {
        &__list {
            margin: 0 !important;
            &__item {
                width: 100% !important;
            }
        }
    }
    .object {
        &__stats {
            display: none;
        }
    }
    .history {
        padding-top: 0;
        &__num {
            display: none;
        }
        &__inner {
            margin-right: 0;
        }
        &__list {
            ul {
                li {
                    padding-left: 50px;
                    &::before {
                        left: 10px;
                        width: 20px;
                        height: 20px;
                    }
                }
                &::before {
                    left: 20px;
                }
            }
        }
        &__row {
            margin-bottom: 20px;
        }
    }
    .wrapper {
        padding-top: 120px;
        padding-bottom: 30px;
    }
    .about {
        &__top {
            margin-bottom: 30px;
            &__text {
                p {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
        &__tabs {
            &__btn {
                ul {
                    flex-wrap: wrap;
                    border: none;
                    li {
                        width: 100%;
                        margin-bottom: 0;
                        display: flex;
                        align-items: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
                &__ico {
                    margin-bottom: 0;
                    margin-right: 30px;
                }
                &__title {
                    font-size: 18px;
                }
            }
            &__content {
                &__container {
                    padding: 20px 10px;
                }
                &__ico {
                    display: none;  
                }
                &__text {
                    max-width: 100%;
                }
            }
        }
    }
    .docs {
        &__list {
            ul {
                li {
                    max-width: 50%;
                }
            }
        }
    }
    .catalog {
        &__inner {
            .product__item {
                max-width: 100%;
            }
        }
        &__delivery {
            &__title {
                &__inner {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 18px;
                    span {
                        max-width: 30px;
                            width: 100%;
                            height: 30px !important;
                        svg {
                            max-width: 30px;
                            width: 100%;
                            height: 30px;
                        }
                    }
                }
            }
            &__content {
                &__inner {
                    p {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    .error {
        padding-top: 50px;
        &__img {
            max-width: 300px;
            margin: 0 auto;
        }
        &__title {
            font-size: 24px;
            line-height: 32px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
}