table {
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
    font-weight: normal;
    font-family: 'Open Sans';
    &.is--basket {
        margin-bottom: 50px !important;
        thead {
            background: #F3F6F9;
            tr {
                th {
                    padding: 15px 40px;
                    text-align: left;
                    font-weight: 400;
                    font-size: 18px;
                    color: #282828;
                    &.is--center {
                        text-align: center;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 10px 40px;
                    svg {
                        vertical-align: middle;
                    }
                    &.is--center {
                        text-align: center;
                    }
                }
                &.is--bottom {
                    b {
                        display: block;
                        font-size: 18px;
                    }
                    small {
                        line-height: 41px;
                        font-size: 18px;
                    }
                    td {
                        border-top: 1px solid #CEDBE8;
                        border-bottom: 1px solid #CEDBE8;
                        padding-top: 40px;
                        padding-bottom: 40px;
                    }
                    .is--center {
                        position: relative;
                        input[type="text"] {
                            position: absolute;
                            right: 100%;
                            box-sizing: border-box;
                            width: 100%;
                            border: 1px solid transparent;
                            border-bottom-color:#000;
                            outline: none;
                            font-weight: normal;
                            font-family: 'Open Sans';
                            line-height: 11px;
                            font-size: 12px;
                            color: rgba(#313131, .5);
                            padding: 15px 0px;
                            transition: .25s all ease;
                            top: 50%;
                            margin-top: -30px;

                        }
                    }
                }
            }
        }
    }
}

table.is--default {
    thead {
        background: $primary-color;
        tr {
            th {
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                padding: 30px 10px;
                small {
                    font-weight: 100;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 20px 10px;
                text-align: center;
                border-bottom: 1px solid rgba(#282828, .25);
            }
            &.is--inputs {
                td {
                    border: none;
                    &:first-child {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.table {
    &-buy_btn {
        button {
            height: 100%;
            border: 1px solid #E7EDF3;
            background: transparent;
            height: 45px;
            padding: 0 15px;
            outline: none;
            svg {
                fill: #0C498C;
            }
            cursor: pointer;
        }
    }
}

@media (max-width: 1400px) {
    table {
        &.is--basket {
            td,
            th {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }
        }
    }
}

@media (max-width: $resp1200) {
    table.is--default {
        display: block;
        thead {
            display: none;
        }
        tbody {
            display: block;
            tr {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                border: 1px solid $primary-color;
                margin-bottom: 20px;
                td {
                    width: 100% ;
                    max-width: 100%;
                    display: block;
                    border: none;
                    position: relative;
                    padding: 10px;
                    text-align: left;
                    &::before {
                        content: attr(data-fieldname);
                        width: 40%;
                        padding-right: 10px;
                        font-weight: bold;
                    }
                    .table-buy_btn,
                    .input-table.is--count {
                        padding-top: 10px;
                    }
                    .input-table.is--count {
                        input {
                            margin: 0;
                        }
                    }
                    &:first-child {
                        padding: 0 10px 0 10px !important; 
                    }
                    select {
                        width: 100% !important;
                    }
                    &.is--count,
                    &.is--buy {
                        width: auto;
                    }
                }
                &::before {
                    content: attr(data-fieldname);
                    padding: 10px 15px;
                    display: block;
                    background: #0C498C;
                    color: #fff;
                    font-weight: bold;
                    width: 100%;
                }
            }
        }
    }
    .__th {
        display: none !important;
    }
}

@media (max-width: $resp1025) {
    .__h25 {
        display: none !important;
    }
    .basket {
        &__title {
            margin-bottom: 20px;
            padding: 15px 25px !important;
        }
    }
    table {
        &.is--basket {
            margin-bottom: 20px !important;
            thead {
                display: none;
            }
            tr,
            td {
                display: block;
            }
            tbody {
                tr {
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-bottom: 1px solid #CEDBE8;
                    &.is--bottom {
                        border-bottom: 0;
                        td {
                            border: none;
                            padding: 15px 0;
                            &:first-child {
                                margin-bottom: 30px;
                                padding-top: 30px;
                            }
                            &.is--center {
                                text-align: right;
                                input {
                                    position: static !important;
                                    display: block !important;
                                }
                                a {
                                    position: absolute;
                                    right: 10px;
                                    top: 0;
                                }
                            }
                        }
                        small {
                            font-size: 14px;
                        }
                    }
                    td {
                        margin-bottom: 15px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &.is--center {
                            text-align: left;
                        }
                        &::before {
                            content: attr(data-fieldname);
                            display: block;
                            margin-bottom: 15px;
                            font-size: 14px;
                        }
                        .input-table.is--count {
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }
}